.forgot-password {
  color: #007bff;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.forgot-password:hover {
  color: #0056b3;
}

.success {
  color: green;
  font-size: 0.9rem;
  margin-top: 10px;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
}
